section#homeContent
  div#oreoConnection
    .alert.alert-info Connecting to OreoBot!
    .alert.hide.alert-error Unable to connect to OreoBot!
    .alert.hide.alert-success Connection to OreoBot established!