!!! 5
html(lang="en")
  head
    title OreoBot Arduino controls
    link(rel="stylesheet", href="styles/oreobot.css")

  body
    button#oreoDeliver
      | Deliver Oreo
    h1 OreoBot
    !=body

    //- footer
      p
        |Powered by 
        a(href="//arduino.cc") Arduino
        |, 
        a(href="//semu.github.com/noduino") Noduino
        , and 
        a(href="//lego.com") Lego
        |.

    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
        script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")